Package: openro0t
Name: ConfirmLaunch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: openro0t
Author: openro0t
Section: Tweaks
